<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<body>
    <!--/*遍历index的数据，将数据赋值index*/-->
    <div id="content" th:each="index1:${index}">
        <header>
            <h2  class="post-title">
                <!--/*根据slug生成链接*/-->
                <a th:href="@{'/post/'+${index1.slug}}"><span th:utext="${index1.title}">article title</span></a>
            </h2>
        </header>
        <div id="articleinfo">
            <ul>
                <!--/*获取作者*/-->
                <li th:text="${index1.username}">author</li>
                <!--/*获取发布日期，并格式化*/-->
                <li th:text="${#dates.format(index1.publishdate,'yyyy-MM-dd')}">publishdate</li>
                <!--/*获取分类目录*/-->
                分类目录:<li th:text="${index1.category}">category</li>
            </ul>
        </div>
        <div class="articlesummary">
            <!--/*获取文章摘要*/-->
            <p th:utext="${index1.content}+'...'" >content summary</p>
        </div>
    </div>
    <!--/*如果文章数量大于10则显示页数，根据文章数量生成页数*/-->
    <ul th:if="${paging > 10}" th:each="i:${#numbers.sequence(1,paging/10+1)}" id="page-numbers">
        <li><a th:href="@{'/page/'+${i}}"><span th:text="${i}">page numbers</span></a></li>
    </ul>
</body>
</html>