<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="pagelayout/layout">
<body>
<div layout:fragment="content">
    <div id="article">
        <header>
            <h2 class="post-title">
                <span th:utext="${article.title}">article title</span>
            </h2>
        </header>
        <div id="articleinfo">
            <ul>
                <li th:text="${article.users.username}">author</li>
                <li th:text="${#dates.format(article.publishdate,'yyyy-MM-dd')}">publishdate</li>
                <li th:text="'分类目录:'+${article.categories.category}">category</li>
            </ul>
        </div>
        <div id="article">
            <p th:utext="${article.content}">content</p>
            <br>
            <div style="font-size:12px;color:#555;">
                tag:<span id="tag list" th:each="tag:${article.tags}">
                <span th:text="${tag.tag}+'  '"></span>
            </span>
            </div>
        </div>
        <!--/* 添加评论表单 */-->
        <div id="commentpost">
            <form name="input" th:action="@{/comment/add}" method="post">
                name:<br>          <input type="text" name="author" required><br>
                comment:<br>       <textarea name="commentcontent" style="width:400px;height:150px;" wrap="virtual"></textarea><br>
                email address:<br> <input type="text" name="email" required>
                <!--/*隐式传送文章ID*/-->
                <input type="hidden" name="articles" th:value="${article.id}">
                <input type="submit" value="Submit">
            </form>
            <br>
        </div>
        <!--/*显示已经发表的评论*/-->
        <div id="comment" th:each="comment1:${comment}" >
            <p th:text="'作者：'+${comment1.author}">comment author</p>
            内容：<p style="line-height: 100%;" th:utext="${comment1.commentcontent}">comment content</p>
            <p th:text="'日期：'+${#dates.format(comment1.postdate,'yyyy-MM-dd')}">post date</p>
        </div>
    </div>
</div>
</body>
</html>