<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="pagelayout/layout">
<body>
<div layout:fragment="content">
    <p>本站是个人学习而成的项目，开发过程参考了许多公开资料。</p>
    <p>主题参考了：<br><a href="https://github.com/pagecho/maupassant" rel="noopener noreferrer" target="_blank">https://github.com/pagecho/maupassant</a></p>
    <p>
        后端程序参考了：<br>
        <a href="https://blog.battcn.com/categories/SpringBoot/" rel="noopener noreferrer" target="_blank">https://blog.battcn.com/categories/SpringBoot/</a>
        <a href="https://blog.csdn.net/stronglyh/column/info/21896" rel="noopener noreferrer" target="_blank">https://blog.csdn.net/stronglyh/column/info/21896</a>
        <a href="https://blog.csdn.net/dora_310/article/details/79769779" rel="noopener noreferrer" target="_blank">https://blog.csdn.net/dora_310/article/details/79769779</a>
        <a href="https://blog.csdn.net/qq_34021712/article/category/8000629" rel="noopener noreferrer" target="_blank">https://blog.csdn.net/qq_34021712/article/category/8000629</a><br>
        以上并未列出全部被参考的内容。<br>
        对列出或者未列出的被参考作者表示感谢。
    </p>
</div>
</body>

</html>