<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="adminlayout/layout">
<body>
<div layout:fragment="content">
    <table border="1">
        <tr>
            <td>title</td>
            <td>编辑</td>
            <td>状态</td>
            <td>删除</td>
        </tr>
        <tr th:each="article1:${article}">
            <td th:text="${article1.title}"></td>
            <td><a th:href="@{'/admin/edit/'+${article1.slug}}">编辑</a></td>
            <td th:if="${article1.published}" th:text="已发布">状态</td>
            <td th:unless="${article1.published}" th:text="未发布">状态</td>
            <td><a th:href="@{'/admin/delete/article/'+${article1.title}+'/'+${article1.id}}">删除</a> </td>
        </tr>
    </table>
</div>
</body>

</html>