<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="adminlayout/layout">
<body>
<div layout:fragment="content">
    <div id="articlepost">
        <form name="input" th:action="@{/admin/articleadd}" method="post">
            title: <br><input type="text" name="title" required	><br>
            content: <br><textarea id="editor_article" name="content" style="width:700px;height:600px;" wrap="virtual"></textarea><br>
            slug:<br><input type="text" name="slug" required>
            <div th:each="tag:${tags}" id="tagselect">
                <input type="checkbox" name="tags" th:value="${tag.id}"><span th:text="${tag.tag}">tag</span><br>
            </div>
            <select name="categories">
                <div th:each="category:${categories}" id="categoryselect">
                    <option  th:value="${category.id}"  th:text="${category.category}">category</option>
                </div>
            </select>
            <select name="published">
                <option th:value="1">发布</option>
                <option th:value="0">存为草稿</option>
            </select>
            <input type="hidden" name="users" th:value="${username}">
            <input type="submit" value="Submit">
        </form>
        <!--/*引用tinymce富文本编辑器*/-->
        <script charset="utf-8" th:src="@{/js/tinymce/tinymce.min.js}"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: '#editor_article',
                language: 'zh_CN',
                browser_spellcheck: true,
                contextmenu: false,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "table directionality emoticons template paste codesample"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image ",

            });
        </script>
    </div>
</body>
</html>