<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="adminlayout/layout">
<body>
<div layout:fragment="content">
    <form name="delete" th:action="@{'/admin/deletion/comment/'+${id}}" method="post">
        <input type="hidden" th:value="${id}">
        <span th:text="'您确定要删除文章【'+${title}+'】的一条评论吗？'">删除</span>
        <input type="submit" value="Submit">

</div>
</body>

</html>