<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:http="http://www.w3.org/1999/xhtml"
      layout:decorator="pagelayout/layout">
<body>
<div layout:fragment="content">
    <div id="login">
        <form name="input" th:action="@{/login}" method="post">
            username: <input type="text" name="username"><br>
            password: <input type="password" name="password"><br>
            <input type="checkbox" name="rememberMe">rememberme<br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>

</html>